---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>👋 Welcome</h1>
			<p>
				Welcome to santopia.org. This website is home to some Minecraft related projects.
			</p>
			<h2>📌 Projects</h2>
			<p>
				• Proxy Earth » <a href="https://modrinth.com/modpack/proxy-earth">Modpack</a> | <a href="https://santopia.org/proxyearth/">Server</a>
				• Terratopia » <i>Coming Soon./i>

			</p>

		</main>
		<Footer />
	</body>
</html>
